
site_name: DSMR Reader Docker Docs
# site_url: https://www.yunta.nl/dsmr-reader-docker-docs/
site_url: https://xirixiz.github.io/dsmr-reader-docker-docs/
site_dir: site
site_author: Bram van Dartel (xirixiz)
site_description: Welcome to the home of the DSMR Reader Docker Docs!

repo_name: xirixiz/dsmr-reader-docker-docs
repo_url: https://github.com/xirixiz/dsmr-reader-docker-docs
edit_uri: edit/main/docs/

copyright: Copyright &copy; 2026 Bram van Dartel (xirixiz)

theme:
  name: material
  features:
    - content.code.copy
    - navigation.footer
    - navigation.tabs
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  favicon: assets/favicon.ico
  logo: assets/icon.png

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      combine_header_slug: true
      alternate_style: true
  - tables
  - toc:
      permalink: true

plugins:
  - awesome-pages
  - search
  - minify:
      minify_html: true
